
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(174,72,208,1) 0%, rgba(181,82,241,0.9500175070028011) 55%, rgba(54,153,194,1) 100%);
    align-items: center;
    
}

.list {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.legal{
    text-align: center;
    color: white;
}
