.counter {
    margin-top:80px ;
    text-align: center;
    background-color: gainsboro ;
    border-radius: 600px;
    width: auto;
    height: 50px;
    font-weight: bold;
}
.text {
    margin: 5px;
}

.amount {
    margin: 2px;
    width: auto;
}

button {
    margin-bottom: 10px;
    font-weight: bold;
}